[Unit]
Description=Starte supertonic-tts proxy for openai:/v1

[Service]
Type=simple
User=tts
WorkingDirectory=/home/tts/tts-server-supertonic-tts/
ExecStart=/home/tts/tts-server-supertonic-tts/start_tts-server-supertonic-tts-proxy.sh 
Restart=on-failure

[Install]
WantedBy=multi-user.target

